body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: darkgreen;
}


/*reset body and html against a edges*/
/*Often is  starting point of your CSS */
html, body {
    padding: 0px;
    margin: 0px;
}

/* Set width on the form input elements since they're 100% wide by default */

.container {
    /*This width works commonly on all modern sizes */
    width: 989px;
    /*Centering container on Browser*/
    margin: 0 auto;
    background-color: white;
    padding: 5px;
}


header nav {
    float: right;
    margin-right: 5px;
}

    /*Stack link´s  next touchadar horizontali */
    header nav li {
        display: inline;
        font-size: 12px;
    }

header, footer {
    background-color: lightgray;
    border: solid 1px black;
    font-family: 'Times New Roman', serif;
}

footer {
    padding: 10px;
    border-radius: 3px;
}


.bordered-Image {
    border: solid 1px #444;
    border-radius: 2px;
}

#main {
    border: solid 1px #ccc;
    border-radius: 5px;
    color: #202020;
    margin: 20px 0px;
    padding: 5px;
}

/*positional selectors*/
/*#main > form > label {
        font-weight: bold;
    }*/



/*Aligning  and  positioning 2 elements near together */
#results {
    padding: 2px;
    width: 600px;
    display: inline-block;
    vertical-align: top;
}

.simple-form {
    padding: 2px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

    /*---------------------------------------------------------*/

    /*label witch livs input main*/
    .simple-form label {
        font-weight: bold;
    }

    /*multiple selectors with one roole*/
    .simple-form input [type=text],
    .simple-form select {
        width: 150px;
    }

/*This doesnt work becouse off  user agent style you need a class see  below  "submitbutton"*/
/*#main input [type=submit] {
        background-color: green;
        color: white;
        border-radius: 15px;
        padding: 3px;
        margin-top: 5px;
    }*/

#submitbutton {
    background-color: green;
    color: white;
    border-radius: 15px;
    padding: 3px;
    margin-top: 5px;
}
